<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/user/add" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" name="name" value=""><br>
  <label for="email">Email Id:</label><br>
  <input type="text" id="email" name="email" value=""><br>
   <label for="age">Age:</label><br>
  <input type="text" name="age" value=""><br>
   <label for="city">City:</label><br>
  <input type="text" name="city" value=""><br>
   <label for="profession">Profession:</label><br>
  <input type="text" name="profession" value=""><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>