<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
<body>


<div class="container">
  <h2>User Data Forms</h2>
  <form action="/user/add" method="POST">
    <label for="name">Name:</label><br>
    <input class="form-control" type="text" name="name" value=""><br>
    <label for="email">Email Id:</label><br>
    <input class="form-control" type="text" id="email" name="email" value=""><br>
     <label for="age">IsPromoted:</label><br>
    <input class="form-control" type="text" name="IsPromoted" value="null" readonly><br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form> 
</div>




</body>
</html>